<template>
    <q-page class="container" style="background: #343E59;">
       <client></client>
       <tabs></tabs>
    </q-page>
</template>

<script>
//import { mapGetters, mapState, mapActions, mapMutations } from 'vuex'
import client from '../components/Client'
import tabs from '../components/Tabs'

export default {
    name: 'General',
    components: {
      client,
      tabs,
    },
    data: function() {
        return {
            
        }
    },
    beforeCreate () {
        if (localStorage.getItem('user-username') === '' || localStorage.getItem('user-token') === {}) {
            this.$router.push('')
        }
        this.$store.commit('general/AUTH_SUCCESS', localStorage.getItem('user-token'))
        this.$store.commit('general/USERNAME', localStorage.getItem('user-username'))
        this.$store.dispatch('general/initialisation')
	}
}
</script>
