<template>
  <q-layout>
    <q-page-container>
      <!-- <q-page class="flex bg-image flex-center" style="background: #343E59;"> -->
      <q-page style="background: #343E59;">
        <q-carousel
          animated
          v-model="slide"
          arrows
          navigation
          infinite
        >
          <q-carousel-slide :name="1" img-src="https://cdn.quasar.dev/img/mountains.jpg" />
          <q-carousel-slide :name="2" img-src="https://cdn.quasar.dev/img/parallax1.jpg" />
          <q-carousel-slide :name="3" img-src="https://cdn.quasar.dev/img/parallax2.jpg" />
          <q-carousel-slide :name="4" img-src="https://cdn.quasar.dev/img/quasar.jpg" />
        </q-carousel>
        <div class="flex bg-image flex-center">
        <q-card v-bind:style="$q.screen.lt.sm?{'width': '80%'}:{'width':'30%'}" style="margin-top: 5%;">
          <q-card-section>
            <q-avatar size="103px" class="absolute-center shadow-10">
              <img src="">
            </q-avatar>
          </q-card-section>
          <q-card-section>
            <div class="text-center q-pt-lg">
              <div class="col text-h6 ellipsis">
                Log in
              </div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-form
              class="q-gutter-md"
            >
              <q-input
                filled
                v-model="username"
                label="Nom d'utilisateur"
                lazy-rules
              />
              <q-input
                type="password"
                filled
                v-model="password"
                label="Mot de passe"
                lazy-rules
              />
              <div>
                <q-btn label="Login" type="button" color="primary" @click="connect"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
        </div>
      </q-page>
    </q-page-container>
</q-layout>
</template>

<script>
export default {
    name: 'login',
    data() {
        return {
          slide: 1,
          username: '',
          password: '',
        }
    },
    methods: {
      connect () {
        if (this.username === '' || this.password === '' ) {
          this.$q.notify({
            type: 'negative',
            position: 'center',
            //timeout: 2500,
            textColor: 'white',
            actions: [{ icon: 'close', color: 'white' }],
            message: "Nom d'utilisateur ou password incorrect"
          })
        } else {
          this.$store.dispatch('general/login', {
            username: this.username,
            password: this.password
          }).then((response) => {
            this.$router.push({ path: 'General'})
          }) .catch(() => {
            this.$q.notify({
              type: 'negative',
              position: 'center',
              //timeout: 2500,
              textColor: 'white',
              actions: [{ icon: 'close', color: 'white' }],
              message: "Nom d'utilisateur ou password incorrect"
            })
          })
        }
      }       
    }
}
</script>
