</<template>
    <q-page class="container" style="background: #343E59;">
        Nutrition
    </q-page>
</template>

<script>
export default {
    name: 'Nutrition',
    data() {
        return {

        }
    }
}
</script>