<template>
    <q-page class="container" style="background: #343E59;">
        <add-measure>
        </add-measure>
        <muscle-graph>
        </muscle-graph>
    </q-page>
</template>

<script>
import AddMeasure from '../components/AddMeasure'
import MuscleGraph from '../components/MuscleGraph'

export default {
    name: 'TailleMuscle',
    components: {
        AddMeasure,
        MuscleGraph
    },
    beforeCreate () {        
        if (localStorage.getItem('user-username') === '' || localStorage.getItem('user-token') === {}) {
            this.$router.push('')
        }
        this.$store.commit('general/AUTH_SUCCESS', localStorage.getItem('user-token'))
        this.$store.commit('general/USERNAME', localStorage.getItem('user-username'))
        this.$store.dispatch('general/initialisation')
	}
}
</script>