<template>
    <div class="row q-col-gutter-sm q-ma-xs">
        <card-base :bgColor="bgColor[0]">
            <q-card-section horizontal>
                <q-card-section>
                    <q-input
                        filled
                        v-model="newMeasure.ankle"
                        label="Cheville"
                        type="number"
                        suffix="cm"
                    />
                    <br />
                    <q-input
                        filled
                        v-model="newMeasure.calf"
                        label="Mollet"
                        type="number"
                        suffix="cm"
                    />
                </q-card-section>
                <q-card-section>
                    <q-input
                        filled
                        v-model="newMeasure.thigh"
                        label="Cuisse"
                        type="number"
                        suffix="cm"
                    />
                    <br />
                    <q-input
                        filled
                        v-model="newMeasure.waist"
                        label="Tour de taille"
                        type="number"
                        suffix="cm"
                    />
                </q-card-section>
                <q-card-section>
                    <q-input
                        filled
                        v-model="newMeasure.pectoral"
                        label="Pectoraux"
                        type="number"
                        suffix="cm"
                    />
                    <br />
                    <q-input
                        filled
                        v-model="newMeasure.shoulder"
                        label="Epaule"
                        type="number"
                        suffix="cm"
                    />
                </q-card-section>
                <q-card-section>
                    <q-input
                        filled
                        v-model="newMeasure.wrist"
                        label="Poignet"
                        type="number"
                        suffix="cm"
                    />
                    <br />
                    <q-input
                        filled
                        v-model="newMeasure.forearm"
                        label="Avant bras"
                        type="number"
                        suffix="cm"
                    />
                </q-card-section>
                <q-card-section>
                    <q-input
                        filled
                        v-model="newMeasure.arm"
                        label="Bras"
                        type="number"
                        suffix="cm"
                    />
                    <br />
                    <q-input
                        filled
                        v-model="newMeasure.neck"
                        label="Cou"
                        type="number"
                        suffix="cm"
                    />
                </q-card-section>
                <q-card-section>
                    <q-input
                        filled
                        v-model="newMeasure.weight"
                        label="Poids"
                        type="number"
                        suffix="Kg"
                    />
                    <br />
                    <q-input
                        filled
                        v-model="newMeasure.body_fat_percentage"
                        label="% de gras"
                        type="number"
                        suffix="%"
                    />
                    <br />
                    <q-btn color="secondary" @click="add_data">
                        Ajouter données
                    </q-btn>
                </q-card-section>
            </q-card-section>
        </card-base>
    </div>
</template>

<script>
import axios from 'axios'
import CardBase from "./CardBase"

export default {
    name: 'AddMeasure',
    data() {
        return {
            newMeasure: {
                ankle: 0.0,
                calf: 0.0,
                thigh: 0.0,
                waist: 0.0,
                pectoral: 0.0,
                shoulder: 0.0,
                wrist: 0.0,
                forearm: 0.0,
                arm: 0.0,
                neck: 0.0,
                weight: 0.0,
                goal: false,
                client_id: 0,
                date: '',
                body_fat_percentage: 0.0,
            },
        }
    },
    methods: {
        add_data  () {
        this.newMeasure.client = this.$store.state.general.clientInformation.id
            console.log(this.newMeasure)
            axios
                .post(  this.$store.state.general.url + "api/muscle_size/", 
                        this.newMeasure,
                        this.$store.state.general.conf)
                .then(() => {
                    this.$q.notify({
                        type: 'positive',
                        position: 'center',
                        //timeout: 2500,
                        textColor: 'white',
                        actions: [{ icon: 'close', color: 'white' }],
                        message: "Ajout de la mesure réussi"
                    })
                })
                .catch(() => {
                    this.$q.notify({
                        type: 'negative',
                        position: 'center',
                        //timeout: 2500,
                        textColor: 'white',
                        actions: [{ icon: 'close', color: 'white' }],
                        message: "Echec de l'ajout de la mesure"
                    })
                })
        }
    },
    components: {
        CardBase,
    },
    computed: {
        bgColor: {
            get () {
                return this.$store.state.general.bgColors
            }
        },
    },
    mounted () {
        this.newMeasure.date = new Date().toJSON().slice(0,10)
    },
    beforeCreate () {
        if (localStorage.getItem('user-username') === '' || localStorage.getItem('user-token') === {}) {
            this.$router.push('')
        }
        if (this.$store.state.general.clientInformation.id === 0) {
            this.$store.dispatch('general/initialisation')
        }
    }
}
</script>