<template>
    <div class="row q-col-gutter-sm q-ma-xs">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <card-base :bgColor="bgColor[0]">
                <q-card-section horizontal>
                    <q-card-section class="q-pt-xs">
                        <div class="text-h5 q-mt-sm q-mb-xs">
                            {{ clientInformation.first_name}} {{clientInformation.last_name}}
                        </div>
                        <div class="text-h8 q-mt-sm q-mb-xs">
                            Date de naissance : {{ clientInformation.date_of_birth }}
                        </div>
                        <div class="text-h8 q-mt-sm q-mb-xs">
                            Ville : {{ clientInformation.city }}
                        </div>
                    </q-card-section>

                    <q-card-section class="col-5 flex flex-center">
                        <q-img
                            class="rounded-borders"
                            src="urlImg"
                        />
                    </q-card-section>
                </q-card-section>
            </card-base>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <card-base :bgColor="bgColor[0]">
                <q-card-section>
                    <q-form
                        class="q-gutter-md"
                    >
                        <q-input
                            filled
                            v-model="clientInformation.email"
                            label="Email"
                        />
                        <q-input
                            filled
                            v-model="clientInformation.phone"
                            label="Phone"
                        />
                    </q-form>
                </q-card-section>
            </card-base>
        </div> 
    </div>
</template>

<script>
import CardBase from "./CardBase"
import {mapState} from "vuex"

export default {
    name: 'client',
    data() {
        return {
        }
    },
    components: {
        CardBase,
    },
    computed: {
        bgColor: {
            get () {
                return this.$store.state.general.bgColors
            }
        },
        clientInformation: {
            get () {
                return this.$store.state.general.clientInformation
            },
            set () {
                this.$store.commit('general/updateInformation')
            }
        },
        urlImg: {
            get () {
                return ""
            }
        },
    },
    methods: {
    },
    mounted () {
    },
    beforeCreate () {
    }
}
</script>
