<template>
    <div class="row q-col-gutter-sm q-ma-xs">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <card-base :bgColor="bgColor[0]">
                <q-card-section>
                    <q-select 
                        type="list" 
                        v-model="selectGraph" 
                        :options="selectOptions"
                    >
                    </q-select>
                </q-card-section>
            </card-base>
        </div>
        <card-base>
            <apexchart type="area" :options="chartOptions" :series="serie" />
        </card-base>
    </div>
</template>

<script>
import CardBase from "./CardBase"
import {mapGetters} from 'vuex'
import axios from 'axios'


export default {
    name: 'MuscleGraph',
    data() {
        return {
            chartOptions: {
                chart: {
                    height: 'auto',
                    type: 'area',
                },
                legend: {
                    show: true,
                    position: 'top',
                    horizontalAlign: 'center',
                    labels: {
                        colors: '#FFD700',
                        useSeriesColors: false
                    },
                },
                colors: ['#FFD700', '#17ead9', '#f02fc2'],
                grid: {
                    show: true,
                    strokeDashArray: 0,
                    xaxis: {
                        lines: {
                            show: true
                        }
                    }
                },
                title: {
                    text: 'Evolution du muscle',
                    align: 'left',
                    style: {
                        color: '#FFD700'
                    }
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shade: 'dark',
                        type: 'vertical',
                        shadeIntensity: 0.5,
                        inverseColors: false,
                        opacityFrom: 1,
                        opacityTo: 0.8,
                        stops: [0, 100]
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    width: 0
                },
                xaxis: {
                    title: {
                        text: 'Date',
                        style: {
                            fontWeight: 'bold',
                                color: '#FFD700'
                        }
                    },
                    type: 'datetime',
                    labels: {
                        style: {
                            colors: '#FFD700'
                        }
                    }
                },
                yaxis: {
                    showAlways: true,
                    title: {
                        text: 'Mesure en cm',
                        style: {
                            fontWeight: 'bold',
                            color: '#FFD700'
                        }
                    },
                    labels: {
                        show: true,
                        align: 'right',
                        style: {
                            color: '#FFD700'
                        },
                    },
                    axisBorder: {
                        show: true,
                        color: "#FFD700"
                    }
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val
                        }
                    }
                }
            },
            selectGraph: '',
            selectOptions: [
                {
                    label: 'Cheville',
                    value: 'ankle'
                },
                {
                    label: 'Mollet',
                    value: 'calf'
                },
                {
                    label: 'Cuisse',
                    value: 'thigh'
                },
                {
                    label: 'Tour de taille',
                    value: 'waist'
                },
                {
                    label: 'Pectoraux',
                    value: 'pectoral'
                },
                {
                    label: 'Epaule',
                    value: 'shoulder'
                },
                {
                    label: 'Poignet',
                    value: 'wrist'
                },
                {
                    label: 'Avant-bras',
                    value: 'forearm'
                },
                {
                    label: 'Bras',
                    value: 'arm'
                },
                {
                    label: 'Cou',
                    value: 'neck'
                },
                {
                    label: 'Poids',
                    value: 'weight'
                },
                {
                    label: '% gras',
                    value: 'body_fat_percentage'
                }
            ],
            serie: [],
            //date: 0,
            dataSerie: []
        }
    },
    components: {
        CardBase,
    },
    watch: {
        selectGraph: function (val) {
            this.newSerie(val.value)
        } 
    },
    computed: {
        bgColor: {
            get () {
                return this.$store.state.general.bgColors
            }
        },
    },
    methods: {
        newSerie (value) {
            axios
                .get(this.$store.state.general.url + "api/" + value + "/?client=" + this.$store.state.general.clientInformation.id +"&goal=false",
                     this.$store.state.general.conf)
                .then((response) => {
                    this.dataSerie = []
                    let data = response.data
                    for(let i = 0; i < data.length; i++) {
                        this.dataSerie.push([new Date(data[i].date).getTime(), data[i].value])
                    }
                    this.serie = [{
                        name: "Muscle size",
                        data: this.dataSerie
                    }]
                })
        },

    },
    beforeCreate () {
        //this.date = Math.round((new Date()).getTime() / 1000) - 31536000
    }
}
</script>
