<template>
    <div class="q-pa-md">
        <card-base>
            <apexchart type="bar" :options="chartOptions" :series="muscleSize" />
        </card-base>
    </div>
</template>

<script>
import CardBase from "./CardBase"
import {mapGetters} from 'vuex'


export default {
    name: 'tabs',
    data() {
        return {
            chartOptions: {
                chart: {
                    height: 'auto',
                },
                legend: {
                    show: true,
                    position: 'top',
                    horizontalAlign: 'center',
                    labels: {
                        colors: '#FFD700',
                        useSeriesColors: false
                    },
                },
                colors: ['#FFD700', '#17ead9', '#f02fc2'],
                grid: {
                    show: true,
                    strokeDashArray: 0,
                    xaxis: {
                        lines: {
                            show: true
                        }
                    }
                },
                title: {
                    text: 'Dernière prise musculaire avec objectif',
                    align: 'left',
                    style: {
                        color: '#FFD700'
                    }
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shade: 'dark',
                        type: 'vertical',
                        shadeIntensity: 0.5,
                        inverseColors: false,
                        opacityFrom: 1,
                        opacityTo: 0.8,
                        stops: [0, 100]
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    width: 0
                },
                xaxis: {
                    title: {
                        text: 'Groupe musculaire',
                        style: {
                            fontWeight: 'bold',
                                color: '#FFD700'
                        }
                    },
                    categories: [
                        'Cheville', 
                        'Mollet', 
                        'Cuisse', 
                        'Tour de taille', 
                        'Pectoraux', 
                        'Epaule', 
                        'Poignet', 
                        'Avant-bras', 
                        'Bras',
                        'Cou',
                        'Poids',
                        '% gras'
                        ],
                    labels: {
                        style: {
                            colors: '#FFD700'
                        }
                    }
                },
                yaxis: {
                    showAlways: true,
                    title: {
                        text: 'Mesure en cm',
                        style: {
                            fontWeight: 'bold',
                            color: '#FFD700'
                        }
                    },
                    labels: {
                        show: true,
                        align: 'right',
                        style: {
                            color: '#FFD700'
                        },
                    },
                    axisBorder: {
                        show: true,
                        color: "#FFD700"
                    }
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val
                        }
                    }
                }
            },
        }
    },
    components: {
        CardBase,
    },
    computed: {
        ...mapGetters({
            muscleSize: 'general/lastMuscleSizeClient'
        })
    },
}
</script>
