<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-custom-blue-dark text-primary">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Warriors Gym
        </q-toolbar-title>

        <div>{{clientInformation.last_name}} {{clientInformation.first_name}}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      content-class="bg-custom-blue-dark"
      show-if-above
      bordered
    >
      <q-list class="text-white" >
        <q-item-label
          header
          class="text-grey-8"
        >
          Logo
        </q-item-label>
        <q-item clickable to="General" exact>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>  
            <q-item-label>Accueil</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="TailleMuscle" exact>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Taille muscle</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="Objectif" exact>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Objectif</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="Performance" exact>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Performance</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="Nutrition" exact>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Nutrition</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  computed: {
        clientInformation: {
            get () {
                return this.$store.state.general.clientInformation
            },
            set () {
                this.$store.commit('general/updateInformation')
            }
        },
  }
}
</script>

<style>
.bg-custom-blue-dark {
  background: #2B2D3E;
}
</style>